
/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    /* OK */
}



/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
       padding: 40px 75px;
    }
   
    .nav-wrapper {
        padding: 0;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
	
    .navbar {
        background: rgba(0, 0, 0, .7);
        padding: 10px 0;
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		margin: 2px 8px;
        border-bottom: 1px solid #fff;
    }
	
	/* Home */
    #home-heading h2 {
        font-size: 45px;
		text-align: center;
		
    }
	
	#home-heading p {
		font-size: 35px;
		text-align: center;
	}	

/* About */
	.header_text h2 {
		text-align: center;
		font-size: 45px;
	}
	
	.header_para p {
		text-align: center;
		font-size: 25px;
	}
	
	.contact_info ul li {
		text-align: left;
	    font-size: 14px;
	}
 /* Footer */
 
    #copyright {
		float: center;
        text-align: center;
    }
}

 /* Small Devices */
 
@media only screen and (max-width: 767px) {
 
 
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        padding: 40px 75px;
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		margin: 2px 8px;
        border-bottom: 1px solid #fff;
    }
	
   /* Home */
    #home-heading h2 {
		
        font-size: 45px;
		text-align: center;
    }
	
	#home-heading p {
	
		font-size: 28px;
		text-align: center;
	}
	
	.header_text h2 {
		text-align: center;
		font-size: 45px;
	}
	
	.header_para p {
		text-align: center;
		font-size: 25px;
	}
	
    
 }
 
 /* Extra Small Devices (Portrait Phones & Smaller devices) */

@media only screen and (max-width: 480px) {
    
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        padding: 30px 75px;
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		margin: 2px 8px;
        border-bottom: 1px solid #fff;
    }
	
   /* Home */
    #home-heading h2 {
		
        font-size: 35px;
		text-align: center;
    }
	
	#home-heading p {
	
		font-size: 18px;
		text-align: center;
	}
	
	.header_text h2 {
		text-align: center;
		font-size: 35px;
	}
	
	.header_para p {
		text-align: center;
		font-size: 15px;
	}
	   
    .contact_info ul  h2 li {
		float: left;
	    font-size: 18px;
	}
	
	.contact_info ul li{
		
	    font-size: 15px;
		
	}
	   
}
