 /* Extra Small Devices (Portrait Phones & Smaller devices) */
@media only screen and (max-width: 320px){
	.navbar-nav li a{
		margin-right: 2em;
	}
}
@media only screen and (max-width: 480px) {
    
 /* Mobile menu */
    .navbar {
		
        background: rgba(0, 0, 0, .7);
       
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		
        border-bottom: 1px solid #fff;
    }
	
/* Home */
    .home-heading h2 {

        font-size: 35px;
		text-align: center;
    }
	
	.home-heading p {
	
		text-align: center;
	}
	
	.header_text h2 {
		font-size: 35px;
		text-align: center;
		
	}
	
	.header_para p {
		text-align: center;
		
	}
	.contact {
		float: center;
	}
	.contact_info ul h2 li {
		font-size: 22px;
		text-align: center;
	}
	
	.contact_info ul li,
    .contact_info ul a,
    .contact_info ul i {
		font-size: 16px;
	    text-align: center;
   }
	   
        
}




 /* Small Devices */
 
@media only screen and (max-width: 767px) {
 
 
 /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		 
		
        border-bottom: 1px solid #fff;
    }
	
/* Home */

	.about {
		float: center;
	}
    .home-heading h2 {
		
		font-size: 35px;
		text-align: center;
    }
	
	.home-heading p {
	
	
		text-align: center;
	}
	
	.header_text h2 {
		font-size: 35px;
		text-align: center;
		
	}
	
	.header_para p {
		text-align: center;
	
	}
	
    .contact_info ul h2 li {
		
		text-align: center;
	}
	
	.contact_info ul li,
    .contact_info ul a,
    .contact_info ul i {
	    
		text-align: center;
   }

 }
 ===========================
 
 /* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
	
    .navbar {
        background: rgba(0, 0, 0, .7);
        
    }
   
    .nav-wrapper {
        padding: 0;
    }
	 .navbar-nav li a{
		
        border-bottom: 1px solid #fff;
    }
	
/* Home */
    .home-heading h2 {
		font-size: 35px;
		text-align: center;
		
    }
	
	.home-heading p {
		
		text-align: center;
	}	

/* About */

	.about {
		float: center;
		
	}
	.header_text h2 {
		font-size: 35px;
		text-align: center;
		
	}
	
	.header_para p {
		text-align: center;
		
	}
	
	.contact_info ul h2 li {
		
		text-align: center;
	}
	
	.contact_info ul li,
    .contact_info ul a,
    .contact_info ul i {
	text-align: center;
}


 /* Footer */
 
    #copyright {
		float: center;
        text-align: center;
    }
	
}
 

/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Mobile menu */
    .navbar {
        background: rgba(0, 0, 0, .7);
        
    }
   
    .nav-wrapper {
        padding: 0;
    }
	
	.contact_info ul h2 li {
		
		text-align: center;
	}
	
	.contact_info ul li,
    .contact_info ul a,
    .contact_info ul i {
	    text-align: center;
}


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    /* OK */
}


 

